################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.MobileApp/obj
/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.MobileApp/bin
/src/algoBhaiya.ReportBook.Mobile/.vs
/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.Core/bin
/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.Core/obj
/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.Infrastructure/bin
/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.Infrastructure/obj
/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.Presentation/bin
/src/algoBhaiya.ReportBook.Mobile/algoBhaiya.ReportBook.Presentation/obj
